// Animation: shake
@keyframes shake {
    10%,
    90% {
        @include transform(translate3d(-1px, 0, 0));
    }

    20%,
    80% {
        @include transform(translate3d(2px, 0, 0));
    }

    30%,
    50%,
    70% {
        @include transform(translate3d(-4px, 0, 0));
    }

    40%,
    60% {
        @include transform(translate3d(4px, 0, 0));
    }
}

// Animation: fadeIn
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}