.container-xs {
    width: calc(100% - calc(2 * 32px));
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.fill {
    min-height: 100%;
    height: 100%;
}