.dropdown {
    .dropdown-item {
        &.active {
            background-color: $green;
        }
    }
}

.pagination {
    .page-item {
        .dropdown {
            .dropdown-menu {
                overflow-y: auto;
                height: 40vh;
            }
        }
    }
}