.dropzone-fullscreen {
    box-sizing: border-box;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99999;
    background: rgba($white, .8);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    @include animation(fadeIn ease 0.4s);

    span {
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
        color: rgba($gray, 0.4);
        font-size: 30px;
        white-space: nowrap;
    }
}

form.dropzone {
    &.dz-clickable {
        border: 1px dashed rgba($gray, 0.35);
        border-radius: 4px;
        cursor: default !important;

        * {
            cursor: default !important;
        }
    }

    &.dz-drag-hover {
        background-color: rgba($green, 0.1);
    }

    .dz-button {
        white-space: nowrap;
        color: rgba($gray, 0.4) !important;
        font-size: 20px !important;
    }

    .dz-preview {
        margin: 10px !important;

        .dz-image {
            border-radius: 4px !important;
            image-rendering: auto !important;

            img {
                image-rendering: auto !important;
            }
        }
    }

    .dz-success-mark {
        svg * {
            stroke: $green !important;
            fill: $green !important;
            stroke-opacity: 1 !important;
            fill-opacity: 1 !important;
        }
    }

    .dz-error-mark {
        svg * {
            stroke: $red !important;
            fill: $red !important;
            stroke-opacity: 1 !important;
            fill-opacity: 0.9 !important;
        }
    }
    
    .dz-error-message {
        background-color: rgba($red, 0.9) !important;
        background: linear-gradient(to bottom, rgba($red, 0.9), rgba($red, 0.9)) !important;
        
        &:after {
            border-bottom-color: rgba($red, 0.9) !important;
        }
        
        * {
        color: $white !important;
    }
    }
}