.header-menu {
    
    .dropdown-toggle {
        padding-left: 30px;
        /* &:hover + .dropdown-menu {
            display: block;
            visibility: visible !important;
            opacity: 1;
            @include transform(translateY(0px));
            @include transition(0.5s ease all);
        } */
        &:hover {
            background-color: rgba($dark-green2, 0.5) !important;
        }

        &::after {
            margin-left: 0.3em;
            vertical-align: middle;
            color: $green;
        }
        
        &.dropdown-toggle-hover {
            background-color: rgba($dark-green2, 0.5) !important;
        }
    }

    .dropdown-menu {
        margin-top: 0;
        padding: 0;
        min-width: inherit;
        display: block;
        visibility: hidden;
        border-radius: 0 0 4px 4px;
        opacity: 0;
        border: 0;
        box-shadow: 0 0 6px rgba($black, 0.35);
        @include transform(translateY(20px));
        @include transition(0.5s ease all);

        ul {
            padding: 0;
            margin: 15px !important;

            li {
                list-style-type: none;
                display: inline;
                padding: 15px;

                a {
                    color: $black;

                    &:hover {
                        background: none;
                        color: $green;
                        text-decoration: none;
                    }
                }

                img {
                    width: 35px;
                    margin-right: 15px;
                }
            }
        }

        &.show {
            display: block;
            visibility: visible;
            opacity: 1;
            @include transform(translateY(0px));
            @include transition(0.5s ease all);
        }
    }
}