.pagination {
    .page-item {
        text-align: center;

        .page-link {
            color: $black;
            min-width: 40px;

            &:hover {
                background-color: rgba($gray, 0.06);
            }
        }

        &.disabled {
            .page-link {
                color: $gray;
            }
        }

        &.active {
            .page-link {
                background-color: $green;
                border-color: $green;
                color: $white;

                &:hover {
                    background-color: $light-green;
                    border-color: $light-green;
                }
            }
        }
    }
}