.preloader {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url("../img/preloader.svg");
    background-repeat: no-repeat;
    background-color: $white;
    background-position: center;
    // cursor: wait;
    &.show {
        visibility: visible;
        opacity: 1;
        @include transition(opacity 0.25s linear);
    }

    &.hide {
        visibility: hidden;
        opacity: 0;
        @include transition(visibility 0s 0.25s, opacity 0.25s linear);
    }
}