// Colors
$green: #3AB549;
$light-green: #42BD53;
$dark-green: #005C31;
$dark-green2: #01893C;
$black: #15191D;
$deep-black: #000000;
$gray: #7B868D;
$dark-gray: #5D5F61;
$light-gray: #EEF2F5;
$white: #FFFFFF;
$red: #E9222A;
$header-line-color: transparentize(#23313D, 0.8);
$footer-line-color: transparentize($green, 0.79);

// Sizes
$navbar-height: 60px;
// Fonts
$font-stack: 'CircularStd', Helvetica, sans-serif;